<p>Schreibe eine Funktion für die hypergeometrische Verteilung: sie bekommt vier Zahlen als Eingabe: Populationsgröße, Anzahl Treffer in der Population, Stichprobengröße und Anzahl Treffer in der Stichprobe. Sie sollte die Wahrscheinlichkeit berechnen, dass in der Stichprobe die gegebene Anzahl Treffer vorkommen. Die Funktion <code>nCr</code> könnte nützlich sein.</p>
<div class="testOutput" id="hypergeometricTest"></div>
