<p>
Lies dir die Funktion in <code>reading.js</code> durch und versuche zu erklären,
was sie tut. Überprüfe deine Vermutung mit sinnvoll gewählten Beispielwerten.
</p>
<div id="reading" class="output"></div>
