<p>
Nun darfst du dir eine Zahl aussuchen und der Computer darf raten. Du kannst
entsprechend antworten, ob die geratene Zahl zu hoch oder zu niedrig war. Öffne
die Datei <code>guessing.js</code>
</p>
<div class="output">
  <p>Ist es vielleicht...</p>
  <p id="guessedNumber"></p>
  <p>Bisherige Versuche: <span id="attempts"></span></p>

</div>
<nav class="flex">
  <button class="button" onclick="adapt(-1)">Kleiner</button>
  <button class="button" onclick="adapt(1)">Größer</button>
</nav>
