<p>
Implementiere folgende Funktionen:
</p>
<ol>
  <li><code>greet</code> bekommt einen Namen und gibt eine Begrüßung zurück,
    z.B. "Hello, Bob!". Bekommt sie anstatt eines Namens einen leeren String,
    soll sie "Hello, Nemo!" zurückgeben.</li>

  <li><code>answer</code> bekommt eine Rechnung als String und eine Zahl und
    gibt eine Antwort zurück, z.B. "The result of 2 + 2 is 5". Wir keine Zahl
    übergeben, soll als Ergebnis immer 42 angenommen werden.</li>
</ol>
