<p>
Wir haben bereits Verzweigungen und Bedingungen kennengelernt. Das Ziel war,
bestimmte Programmabschnitte nur unter bestimmten Voraussetzungen auszuführen.
Das bedeutet, wir haben überprüft, ob eine Bedingung <em>wahr</em> ist. Solche
Bedingungen haben auch einen Datentyp <em>Boolean</em>. Die einzigen Werte, die
dieser Typ annehmen kann sind <code>true</code> und <code>false</code>.
</p>
<p>
Für Zahlen und Strings haben wir verschiedene Operatoren betrachtet, mit denen
wir Werte der entsprechenden Datentypen miteinander verknüpfen können, um neue
Werte zu erhalten. Bei Zahlen waren es die üblichen Rechenoperationen, bei
Strings das Aneinanderhängen.  Wie können Wahrheitswerte verknüpft werden, um
neue Wahrheitswerte zu erhalten?
</p>
