<p>
Beim Rechnen mit Zahlen kennen wir gewisse Regeln, um Terme
umzuformen und zu vereinfachen, z.B. Kommutativ-, Assoziativ- und
Distributivgesetze.
</p>
<ol>
  <li>
    <div class="trueFalseItem true">
      <div class="question">
        <code>a || (b || c)</code> =
        <code>(a || b) || c</code>
      </div>
    </div>
  </li>
  <li>
    <div class="trueFalseItem true">
      <div class="question">
        <code>a &amp;&amp; (b || c)</code> =
        <code>(a &amp;&amp; b) || (a &amp;&amp; c)</code>
      </div>
    </div>
  </li>
  <li>
    <div class="trueFalseItem false">
      <div class="question">
        <code>a &amp;&amp; (b || c)</code> =
        <code>(a &amp;&amp; b) || c</code>
      </div>
    </div>
  </li>
  <li>
    <div class="trueFalseItem false">
      <div class="question">
        <code>!(a &amp;&amp; b)</code> =
        <code>!a &amp;&amp; !b</code>
      </div>
    </div>
  </li>
  <li>
    <div class="trueFalseItem true">
      <div class="question">
        <code>!(a || b)</code> =
        <code>!a &amp;&amp; !b</code>
      </div>
    </div>
  </li>
</ol>
