<p>Nun haben wir alles, was wir brauchen, um einen belieben Text zu verschlüsseln. Schreibe eine Funktion <code>encrypt</code>, die einen beliebigen Text und eine Zahl (einen Schlüssel) bekommt und den Text verschlüsselt zurückgibt.</p>
<div class="testOutput" id="encryptionTest"></div>
<form action="javascript:" name="encryptionForm">
  <input type="text" name="plainText">
  <input type="number" name="key" value="0">
  <button class="button" onclick="handleEncrypt()">Verschlüsseln</button>
</form>
<div class="output" id="encryption"></div>
