<p>Nun haben wir alles, was wir brauchen, um einen belieben Text zu verschl端sseln. Schreibe eine Funktion <code>encrypt</code>, die einen beliebigen Text und eine Zahl (einen Schl端ssel) bekommt und den Text verschl端sselt zur端ckgibt.</p>
<div class="testOutput" id="encryptionTest"></div>
