<p>
Wir wollen einen Zauberkasten für die Mitternachtsformel bauen. Was
könnte man in so einen Zauberkasten reinlegen und was sollte er dann
zurückgeben? Schreibe die Funktion für die Mitternachtsformel in der
Datei <code>pqfun.js</code>.
</p>
<div id="pqfun-a" class="output">
  <p>a) Die Nullstellen von f(x) = -x<sup>2</sup> + 1/3x + 5 lauten</p>
</div>
<div id="pqfun-b" class="output">
  <p>a) Die Nullstellen von f(x) = -x<sup>2</sup> - 2x + 10 lauten</p>
</div>
<div id="pqfun-c" class="output">
  <p>a) Die Nullstellen von f(x) = x<sup>2</sup> - 3x - 8 lauten</p>
</div>
