<p>
Schreibe eine Funktion <code>fizzBuzz</code> in der Datei
<code>fizzBuzz.js</code>, die folgendes tut: Sie beginnt mit 0 und z채hlt mit
jedem Aufruf hoch (채hnlich wie der fr체here Counter).  Allerdings gibt sie nicht
einfach die aktuelle Zahl zur체ck, sondern antwortet entweder "fizz", falls die
aktuelle Zahl durch 3 teilbar ist, "buzz", falls die aktuelle Zahl durch 5
teilbar ist, und "fizzbuzz", falls die aktuelle Zahl durch 15 teilbar ist.
</p>
<div id="fizzBuzz" class="output"></div>
