<p>
Schaue dir die Datei <code>playground.js</code> an und spiele mit den Strings
herum, um zu verstehen, was die verschiedenen Funktionen machen. Vielleicht
kannst du es schon vom Namen erraten.
</p>
<div id="playground" class="output"></div>
