<p>
Ergänze den Code in <code>exercises/swap.js</code> so, dass die Werte der beiden
Variablen <code>a</code>, <code>b</code> vertauscht sind.
</p>
<div class="output">
  <p>Werte vor Vertauschen: <samp id="beforeSwap"></samp></p>
  <p>Werte nach Vertauschen: <samp id="afterSwap"></samp></p>
</div>
