<form class="flex" action="javascript:" name="asciiForm">
  <input type="text" name="character">
  <button class="button" onclick="handleToAscii()">Zu ASCII</button>
  <input type="number" name="ascii">
  <button class="button" onclick="handleToChar()">Zu Buchstaben</button>
</form>
