<p>
Öffne die Datei <code>evenOdd.js</code>. Schreibe eine Funktion, die eine Zahl
bekommt und "even" zurückgibt, wenn die Zahl gerade ist, und andernfalls "odd".

<em>Tipp: Der Modulo-Operator <code>%</code> könnte hilfreich
  sein.</em>
</p>
<div id="even" class="output">
  <p>Ist 6 gerade oder ungerade?</p>
</div>
<div id="odd" class="output">
  <p>Ist 7 gerade oder ungerade?</p>
</div>
