<p>
Ergänze den Code für den Taschenrechner, sodass er sich das Ergebnis der
vorherigen Rechnung merkt und als ersten Operanden verwendet, falls keiner
eingegeben wird. Z.B. kann zunächst "2 + 2" eingegeben werden und es wird "4"
ausgegeben. Anschließend wird nur noch "* 3" eingegeben und die Ausgabe lautet
"12". Falls bereits bei der ersten Rechnung kein Operand vor dem Operator
eingegeben wird, wird ein Fehler ausgegeben.
</p>
