<p>
Nimm einen Stapel Karten, mische sie und sortiere sie anschließend
folgendermaßen: Herz 2 bis Herz Herz Ass, dann Karo 2 bis Karo Ass, dann Pik 2
bis Pik Ass und schließlich Kreuz 2 bis Kreuz Ass. Schaue dabei nie mehr als
zwei Karten gleichzeitig an. Du darfst so viele Stapel machen, wie du brauchst.
Versuche möglichst systematisch vorzugehen. Du kannst es auch mehrmals
ausprobieren. Wenn du ein Verfahren gefunden hast, das immer funktioniert,
versuche es möglichst detailiert zu formulieren. Stichpunkte reichen aus. (Es
kann hilfreich sein, die Stichpunkte zu nummerieren, um sich auf die einzelnen
Schritte zu beziehen).
</p>
