<p>Schreibe folgende Funktionen:</p>
<ul>
  <li><code>triangleArea</code> berechnet aus gegebener Höhe und Grundlinie den Flächeninhalt.</li>
  <li><code>rectTriangleHeight</code> berechnet für ein rechtwinkliges Dreieck bei gegebenen Anteilen der Hypothenuse, p und q, die Höhe.</li>
  <li><code>rectTriangleHeight</code> berechnet für ein rechtwinkliges Dreieck bei gegebenen Anteilen der Hypothenuse, p und q, die Fläche.</li>
</ul>
<div class="testOutput" id="triangleTest"></div>
