<p>
Wir wollen bestimmen, ob ein bestimmtes Jahr ein Schaltjahr ist oder nicht. Die
Regeln für Schaltjahre lauten wie folgt:
</p>
<ol>
  <li>
    Wenn das Jahr durch 4 teilbar ist, ist es ein Schaltjahr.
  </li>
  <li>
    Wenn es auch noch durch 100 teilbar ist, ist es kein Schaltjahr.
  </li>
  <li>
    Wenn es durch 400 teilbar ist, ist es ein Schaltjahr.
  </li>
</ol>
<p>
Schreibe in der Datei <code>leapYears.js</code> die Funktion
<code>isLeapYear</code>, die für ein gegebenes Jahr bestimmt, ob es
sich um ein Schaltjahr handelt oder nicht.
</p>

<form class="flex" name="leapYearForm" action="javascript:">
  <input type="number" name="year">
  <button class="button" onclick="checkLeapYear()">Prüfen</button>
</form>

<div id="leapYear" class="output"></div>
<script src="leapYears.js"></script>
