<p>
Zunächst einmal wollen wir Zeilen nicht nach ihren Nummern adressieren, da
es sehr schwierig wird, sich all die Adressen zu merken. Stattdessen geben
wir Zeilen <em>aussagekräftige</em> Namen. Indem wir einer Zeile einen
Namen gegeben haben, haben wir eine <em>Variable</em> erstellt. Wie das in
JavaScript aussieht, kannst du in der Datei
<code>exercises/variables.js</code> nachschauen.
</p>

<p>
	Mit dem Schlüsselwort <code>let</code> teilst du mit, dass du einen
	Speicherbereich reservieren möchtest. Darauf folgt der Name, mit dem du
	auf diesen Bereich zugreifen möchtest. Mit <code>variable = wert</code>
	schreibst du den <code>wert</code> in den entsprechenden Speicherbereich.
	Spiele mit dem Wert der Variable <code>favoriteNumber</code> rum, um den
	Wert der Lieblingszahl anzupassen.
</p>

<div class="output">
  <p>Meine Lieblingszahl lautet <samp id="favoriteNumber"></samp></p>
</div>
