<p>
Mithilfe des Satzes von Pythagoras können wir auch Abstände von Punkten
berechnen. Punkte werden durch ihre Koordinaten beschrieben. Schreibe eine
Funktion, die für gegebene <code>x1</code>, <code>y1</code>, <code>x2</code>,
<code>y2</code> den Abstand berechnet.
</p>
