<p>
Die ersten 10 Zeilen deines Blattes sind gefüllt mit je einer Zahl.  Erkläre
einem Roboter, wie er die Summe aller Zahlen berechnen kann. Der Roboter kann
<em>zwei</em> Zahlen addieren, kann <em>eine</em> Zeile lesen und kann sich
<em>eine</em> Zahl merken.  Außerdem kann er Zeilen beschreiben, bzw. etwas
wegradieren.
</p>
