<p>
Schreibe in <code>sign.js</code> eine Funktion <code>sign</code>, die eine Zahl
bekommt und das Signum zurücktgibt, das heißt 1, falls die Zahl positiv ist, 0,
falls sie 0 ist und -1, falls sie negativ ist.
</p>
<div id="sign" class="output">
</div>
<script src="sign.js"></script>
