<p>Öffne die Datei <code>characters.js</code>. Ändere die Ausgabe so, dass in jeder Zeile ein einzelner Buchstabe der Zeichenkette steht. Am Ende sollte die ganze Zeichenkette von oben nach unten in der Ausgabe stehen.</p>

<div class="output" id="characters"></div>

<p>Versuche anschließend dasselbe Ergebnis zu bekommen, indem du eine Zählvariable (Counter) verwendest, den du nach jeder Ausgabe erhöhst.</p>
