<p>
Zuvor haben wir mit der Mitternachtsformel die Nullstellen einer quadratischen
Funktion bestimmt. Wir wissen allerdings, dass es nicht immer Nullstellen gibt.
Schreibe eine verbesserte Funktion in <code>pqimproved.js</code>, damit sie die
drei unterschiedlichen Fälle unterscheiden kann - zwei Nullstellen, eine
Nullstelle oder keine Nullstellen.
</p>
<div id="pqfun-improved-a" class="output">
  <p>Die Nullstelle(n) von f(x) = x<sup>2</sup> - 2x + 1 lauten:</p>
</div>
<div id="pqfun-improved-b" class="output">
  <p>Die Nullstelle(n) von f(x) = x<sup>2</sup> + 1 lauten: </p>
</div>
