<p>
Für Funktionen gilt dasselbe wie für Vegas: was in einer Funktion passiert
bleibt in einer Funktion. Das bedeutet, Variablen, die in einer Funktion
<em>deklariert</em> werden, sind außerhalb der Funktion nicht sichtbar. Das
Umgekehrte gilt nicht: Wird eine Variable vor eine Funktion deklariert, kann die
Funktion durchaus darauf zugreifen.  Schreibe eine Funktion, die anfangs 0
zurückgibt und mit jedem Aufruf um eins hochzählt.
</p>

<div id="counter" class="output">
  <p>
    Zählen von 0 bis 20:
  </p>
</div>
