<p>Schreibe eine Funktion <code>bin</code>, die drei Zahlen als Eingabe bekommt: Eine Stichprobengröße, Trefferwahrscheinlichkeit und Trefferanzahl. Sie sollte die Wahrscheinlichkeit ausgeben, dass eine bestimmte Anzahl Treffer in der Stichprobe enthalten ist. Die Funktion <code>nCr</code> könnte hilfreich sein.</p>
<div class="testOutput" id="binomialTest"></div>
