<p>
Ergänze den Code in <code>exercises/mean.js</code>, sodass in der Variable
<code>mean</code> der Mittelwert der Variablen <code>a</code>, <code>b</code>
und <code>c</code> steht.
</p>
<div class="output">
  <p> Der Mittelwert von <samp id="abc"></samp> ist <samp
    id="mean"></samp> </p>
</div>
