<p>Schreibe eine Funktion <code>nCr</code>, die f端r zwei gegebene Zahlen <code>n</code> und <code>k</code> den Binomialkoeffizienten berechnet. Du kannst die Funktion <code>fac</code> daf端r verwenden. Die unten aufgelisteten Tests m端ssen gr端n sein.</p>
<div class="testOutput" id="ncrTest"></div>
