<p>Überlege dir, wie wir die eben verwendeten Methoden anwenden können, um einen beliebigen Text zu verschlüsseln. Dazu musst du zunächst verstehen, wie du ein einzelnes Zeichen verschlüsseln kannst. Was brauchst du dafür? Recherchiere, was ASCII Codes sind und wie man in JS damit arbeiten kann. Schreibe mithilfe dieser Information eine Funktion, die ein beliebiges Zeichen und eine Zahl bekommt und das Zeichen um entsprechend viele Stellen verschoben zurückgibt.</p>
<div class="testOutput" id="singleCharEncryptionTest"></div>
