<p>
Erneut sind 10 Zeilen deines Blattest mit je einer Zahl gefüllt. Erkläre dem
Roboter, wie er die größte Zahl darunter findet. Der Roboter kann alles, was der
Roboter in der vorherigen Aufgabe konnte und außerdem kann er zwei Zahlen
miteinander vergleichen.
</p>
