<p>
Du hast einen Roboter, der vor, zurück, nach links und rechts gehen kann. Der
Bereich ist 10 Schritte breit und 10 Schritte lang. Irgendwo in dem Bereich
liegt eine Münze. Erkläre dem Roboter, wie er sie finden kann.
</p>
