<p>
Ein Witz: Die Frau sagt zum Mann (der Programmierer ist): "Kauf bitte ein Brot
und wenn sie Eier haben zehn". Der Mann kommt wieder mit zehn Broten. Wie ist
das Missverst채ndnis entstanden? Wie h채tte die Frau die Anweisung formulieren
m체ssen, um das gew체nschte Ergebnis zu erzielen?
</p>
