<p>
Wenn wir mit Kreisen arbeiten begegnet uns häufig die Zahl pi. Diese stellt uns
JavaScript mittels <code>Math.PI</code> zur Verfügung. Schreibe jeweils eine
Funktion, die aus gegebenem Radius den Umfang, sowie Flächeninhalt berechnet.
Schreibe anschließend eine Funktion, die zwei Punkte (in Form von Koordinaten)
bekommt. Der erste ist der Mittelpunkt, der zweite ein beliebiger Punkt auf dem
Kreis. Berechne erneut Flächeninhalt und Umfang. Nutze dabei bereits
implementierte Funktionen.
</p>
