<p>
Schreibe eine Funktion <code>compute</code> in der Datei
<code>calculator.js</code>, die eine Rechnung als String bekommt und das
Ergebnis ausrechnet. Z.B. "3 + 4" soll "7" ergeben. Dabei sollen Zahlen und
Operatoren mit Leerzeichen getrennt sein. Es sollen die vier Grundrechenarten
implementiert werden.
</p>
<form class="flex" name="calculatorForm" action="javascript:">
  <input type="text" name="computation">
  <button onclick="handleCompute()">Berechnen</button>
</form>
<div id="computation" class="output"></div>
