<p>
Schaue dir die folgenden Sätze an. Zwei davon ergeben für uns keinen Sinn.
Inwiefern unterscheiden sich die Fehler der beiden?
<ol>
	<li>Der Hund spielt mit dem Ball.</li>
	<li>Der Ball spielt mit dem Hund.</li>
	<li>Dem Hund spielt mit der Ball.</li>
</ol>
</p>
