<p>
Was wir brauchen ist eine Möglichkeit, <em>Bedingungen</em> zu prüfen und
abhängig vom Ausgang der Überprüfung zu <em>verzweigen</em>. Das können wir in
JavaScript mit Hilfe vom <code>if</code> Befehl erreichen.  Öffne die Datei
<code>max.js</code>.  Verwende <code>if</code> Bedingungen, um die
Maximumsfunktion zu implementieren.
</p>
<div id="max" class="output">
  <p>Das Maximum von 10 und 8 lautet:</p>
</div>
<script src="max.js"></script>
