<p>
Wollen wir Texte darstellen brauchen wir den Datentyp <em>String</em>.  Schaue
dir die Datei <code>strings.js</code> an. Versuche zu erraten, wie die Ausgabe
jeweils sein wird. Drücke dann auf ausführen, um deine Vermutungen zu
überprüfen.
</p>
<div id="strings" class="output"></div>
<button class="button" onclick="strings()">Ausführen</button>
