  $light: #eee;
  $light-hover: #ddd;
  $dark:  #111;
  $dark-hover: #333;
  $correct:  #4FAB09;
  $incorrect:  #C60A0A;

.subunit {
  margin: 3px;
  padding: 5px;
  border-bottom: solid 1px #ddd;
  box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
}

.output {
  background-color: #000;
  color: #0f0;
  font: 1.1rem monospace;
  padding: 1rem;
}

.flex {
  display: flex;
}

.button {
  padding: 0.5rem;
  margin: 2px;
  min-width: 4rem;
  background-color: #ddd;
  color: #000;
  border: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #fff;
}

.button:focus {
  outline: none;
}

.trueButton {
  background-color: $light;
  color: $dark;
  border: 1px solid $dark;
}

.trueButton:hover {
  background-color: $light-hover;
  border: #fff;
}

.falseButton {
  background-color: $dark;
  color: $light;
  border: 1px solid $dark;
}

.falseButton:hover {
  background-color: $dark-hover;
  border: #fff;
}

.question {
  border: 2px solid rgba(0,0,0,0);
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.correct {
  border: 2px solid $correct;
}

.incorrect {
  border: 2px solid $incorrect;
}
