.exercise {
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
}

.chapter {
  margin-bottom: 3px;
  padding-bottom: 5px;
  border-bottom: solid 1px #ddd;
}

.output {
  background-color: #000;
  color: #0f0;
  font: 1.1rem monospace;
  padding: 1rem;
}

.button {
  display: block;
  padding: 0.5rem;
  margin: 2px;
  background-color: #ddd;
  color: #000;
  border: none;
}

.button:hover {
  background-color: #fff;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.button:focus {
  border: none;
  outline: none;
}
