<p>
Laut Pythagoras ist ein Dreieck genau dann rechtwinklig, wenn dessen drei
Seiten, <code>a</code>, <code>b</code> und <code>c</code>, die folgende Formel
erfüllen: <code>a<sup>2</sup> + b<sup>2</sup> = c<sup>2</sup></code>. Schreibe
eine Funktion, die überprüft, ob ein Dreieick rechtwinklig ist oder nicht.
Beachte, dass die Seiten nicht notwendigerweise in der "richtigen" Reihenfolge
übergeben werden. Das heißt, es könnte auch sein, dass <code>a</code> die
Hypotenuse ist.
</p>
