<p>
Öffne die Datei <code>abs.js</code>.  Schreibe eine
Funktion, die eine Zahl bekommt und den Betrag zurückgibt.
</p>
<div id="abs-a" class="output">
  <p>Der Betrag von 5 lautet:</p>
</div>
<div id="abs-b" class="output">
  <p>Der Betrag von -8 lautet:</p>
</div>
<script src="abs/abs.js"></script>
