<p>Sieh dir die Funktion <code>fac</code> an. Probiere verschiedene Eingaben aus und überprüfe die Ausgabe. Was berechnet sie?</p>

<form name="factorialForm" action="javascript:">
	<input type="number" name="number">
	<button class="button" onclick="outputFactorial()">Ausführen</button>
</form>

<div class="output" id="factorial"></div>

