<p>Wir wissen jetzt, wie man ein einzelnes Zeichen betrachtet und wie man wiederholt einen Z채hler hoch- oder runterz채hlt. Das wollen wir jetzt verwenden, um einen beliebigen String Zeichen f체r Zeichen auszugeben. Schreibe eine Funktion <code>characters</code>, die einen beliebigen String bekommt und dann Zeichen f체r Zeichen ausgibt.</p>
<div class="output" id="iteratingStrings"></div>
