<p>
Ich möchte ein Spiel spielen: Ich denke mir eine Zahl zwischen 1 und 1 000 000,
du musst sie erraten. Immer wenn du falsch rätst, verrate ich dir, ob deine Zahl
zu hoch oder zu niedrig war. Ich gebe dir 20 Versuche. Kannst du es immer
schaffen? Überlege dir, wie du möglichst sinnvolle Fragen stellen kannst, um
möglichst viele Zahlen bei jedem Versuch auszuschließen.
</p>
