<p>
Schreibe eine Funktion, die zwei Werte bekommt, und sie vertauscht zurückgibt.
</p>
<div id="swapfun" class="output">
  <p>
    Wenn a = 5 und b = 10 ihre Werte tauschen, lauten ihre neuen
    Werte:
  </p>
</div>
